@import 'customVariables';
@import 'custom';
@import 'modalGallery';
// @import '../node_modules/bootstrap/scss/bootstrap';

@mixin easeOut {
  // what to change (properties within this class), time, motion type
  transition: all 0.25s ease-out;
}

body {
  background: $background-dark;
  font-family: $standard-font, $font-family-sans-serif;
  max-width: 1200px;
  margin: auto;
  // overflow: hidden;
  // max-width: 1200px;
}

.navbar {
  .navbar-brand {
    img {
      width: 150px;
      height: auto;
    }
  }

  &.navbar-custom {
    background-color: $background-light;
    color: #000;
  }

  .navbar-nav .nav-item {
    font-family: $western-font;
    font-size: 1rem;
    font-weight: 500;
  }

  a {
    color: #000;
    &:hover {
      // color: $background-light;
      font-weight: 900;
      color: $background-dark;
      font-size: 1.1rem;
      @include easeOut();
    }
  }

  .navbar-toggler.custom-toggler {
    border-color: $background-dark;
  }
  .fa-compass {
    color: $background-dark;
  }

  button {
    &:focus {
      // outline: 5px auto -webkit-focus-ring-color;
      outline-color: $background-dark;
      outline-style: auto;
      outline-width: 5px;
    }
  }
}

.carousel {
  .carousel-inner {
    max-width: 1200px;
    margin: auto;

    #carousel-img-1 {
      background: url(../img/showcase_slides/15.png);
      background-position: center top;
      /* show entire photo */
      background-size: cover;
      background-repeat: no-repeat;
      height: 60vh;
    }
    #carousel-img-2 {
      background: url(../img/showcase_slides/7.png);
      background-position: center;
      /* show entire photo */
      background-size: cover;
      background-repeat: no-repeat;
      height: 60vh;
    }
    #carousel-img-3 {
      background: url(../img/showcase_slides/13.png);
      background-position: center;
      /* show entire photo */
      background-size: cover;
      background-repeat: no-repeat;
      height: 60vh;
    }
  }

  .arrow {
    font-size: 2rem;
    color: $background-light;
  }

  .carousel-indicators {
    position: absolute;
    top: 0;
    left: 0;
    li {
      background: transparent;
      width: 50px;

      .fa-hat-cowboy-side {
        text-indent: 0px;
        height: 50px;
        width: 50px;
        font-size: 2rem;
        display: block;
        color: $background-dark;
      }
    }
  }
}
#jumbotron {
  position: absolute;
  top: 45vh;
  height: 175px;
  width: 80vw;
  z-index: 1;
  padding: 0.25rem 0;
  max-width: 1200px;
  .row {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
  }
  // background: $background-light;
  background-color: rgba(233, 236, 239, 0.75);
  .display-4 {
    font-size: 2rem;
    font-weight: 500;
    font-family: $display-font;
  }
  .display-2 {
    font-size: 3rem;
    font-weight: 300;
    font-family: $display-font;
    sup {
      display: inline-block;
      padding: 0 10px 0 0;
      transform: rotate(-10deg);
      font-family: $fancy-font;
    }
    .text-primary {
      text-shadow: #000000 1px 1px 15px;
    }
  }
  .btn {
    margin: 0 0 0.5rem 0;
  }
}

#gallery {
  .gallery-head {
    text-shadow: 1px 1px 15px black;
  }

  .gallery-item {
    /* On hover, add a black background color with a little bit see-through */
    img {
      &:hover {
        cursor: pointer;
        opacity: 0.6;
        transition: 0.35s ease-in-out;
      }
    }
  }
}

#packages {
  .packages-head {
    text-shadow: 1px 1px 15px black;
  }

  img {
    max-width: 12rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 25%;
  }
}

#location-contact {
  .location-contact-head {
    text-shadow: 1px 1px 15px black;
  }

  h4.display-4 {
    font-size: 2rem;
    color: $background-light;
    font-weight: 500;
  }

  a {
    color: #000000;
    text-decoration: underline;
  }

  i {
    color: $background-dark;
    font-size: 1.5rem;
  }
}

#location-map {
  padding: 0;
  .map iframe {
    width: 100%;
    min-height: 42em;
    border: none;
  }
}

footer {
  background-color: $background-light;
  margin-top: 1.5rem;
  padding: 1rem 0;

  ul {
    margin: 0 auto;
    padding: 0;
    width: 10rem;

    li {
      display: inline-block;
      list-style-type: none;
      i {
        &.fa {
          font-size: 1.5rem;
        }
        padding: 0.5em;
        border: 1px solid black;
        color: black;
        width: 3rem;
        height: 3rem;
      }
    }
  }

  .footer-copyright {
    padding: 1rem 0;
    font-size: 1rem;

    p {
      margin: 0;
      font-weight: 600;
    }
  }
}

@include media-breakpoint-down(xs) {
}

// // Small devices (landscape phones, 576px and up)
@include media-breakpoint-down(sm) {
  // // Carousel
  // .carousel {
  // 	// background: red;
  // 	.carousel-inner {
  // 		// background: red;
  // 		.carousel-item {
  // 			img {
  // 				// position: absolute;
  // 				width: auto;
  // 				height: 100%;
  // 			}
  // 		}
  // 	}
  // }
}

// // Medium devices (tablets, 768px and up)
@include media-breakpoint-down(md) {
  #jumbotron {
    width: 60vh;
    z-index: 1;

    // background: $background-light;
    background-color: rgba(233, 236, 239, 0.75);
    .display-4 {
      display: none;
    }
    .display-2 {
      font-size: 2.5rem;
    }
  }
}

// // Large devices (desktops, 992px and up)
@include media-breakpoint-down(lg) {
}

// // Extra large devices (large desktops, 1200px and up)
@include media-breakpoint-down(xl) {
}

@include media-breakpoint-up(xs) {
}
@include media-breakpoint-up(sm) {
}
@include media-breakpoint-up(md) {
}

@include media-breakpoint-up(lg) {
}
@include media-breakpoint-up(xl) {
}

// @media (min-width: 576px) {
// }

// @media (min-width: 768px) {
// 	// Carousel
// 	.carousel {
// 		background: red;
// 		.carousel-inner {
// 			background: red;
// 			.carousel-item {
// 				img {
// 					width: auto;
// 					height: 100%;
// 				}
// 			}
// 		}
// 	}
// }

// @media (min-width: 992px) {
// }

// @media (min-width: 1200px) {
// }
